{% extends 'base.html' %}

{% block title %}Sign Up{% endblock %}

{% block content %}
  <h2>Sign up</h2>
  <form method="post">
    {% csrf_token %}
    <input type="username" name="username" placeholder="Username"><br>
    {{ form.username.errors }}
    <input type="text" name="email" placeholder="Email"><br>
    {{ form.email.errors }}
    <input type="password" name="password1" placeholder="Password"><br>
    {{ form.password1.errors }}
    <input type="password" name="password2" placeholder="Confirm your password"><br>
    {{ form.password2.errors }}
    <button type="submit">Sign Up</button>
  </form>
{% endblock %}