<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="The sight of the tumblers restored Bob Sawyer to a degree of equanimity which he had not possessed since his interview with his landlady. His face brightened up, and he began to feel quite convivial.">
    <meta name="robots" content="index, follow">
    <meta name="keywords" content="mobile, phone, telephone, communication">
    <meta name="author" content="Nasadyk Vladyslav">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Varela+Round&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../../static/main/css/style.css">
    <link rel="shortcut icon" type="image/icon" href="../../static/main/img/favicon.ico">
    <link rel="stylesheet" href="../../static/main/fonts/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.3/css/all.css" integrity="sha384-SZXxX4whJ79/gErwcOYf+zWLeJdY/qpuqC4cAa9rOGUstPomtqpuNWT9wdPEn2fk" crossorigin="anonymous">
    <link rel="stylesheet" href="../../static/main/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.linearicons.com/free/1.0.0/icon-font.min.css">
    <link rel="stylesheet" href="../../static/main/css/animate.min.css">
    <title>Protected-Data</title>
</head>

<body>

    <!--  1 BLOCK - MENU  -->

    <section class="menu">
        <div class="menu__left">
            {% if user.is_authenticated %} Hi {{ user.username }}!
            <a href="{% url 'logout' %}">Log Out</a>
            <a href="{% url 'password_reset' %}">Reset Password</a> {% else %}
            <span>You are not logged in</span>
            <a href="{% url 'login' %}">Log In</a>
            <a href="{% url 'signup' %}">Sign up</a>
            <a href="{% url 'password_reset' %}">Forgot password?</a> {% endif %}
        </div>
        <div class="menu__center">
            <a href="#"><span class="menu__center_logo">NEW</span>PROVIDENCE</a>
        </div>
        <div class="menu__right">
            <a href="#">Help</a>
            <a href="#">Contacts</a>
            <a id="button_top" href="#" style="margin: 0">
                <button>
                    <img src="../../static/main/img/apple_icon.svg" alt="Apple_icon">
                    <span>Get App</span>
                </button>
            </a>
        </div>
        <h1>What happens tomorrow?</h1>
        <p>The sight of the tumblers restored Bob Sawyer to a degree of equanimity which he had not possessed since his interview with his landlady. His face brightened up, and he began to feel quite convivial.</p>
        <a id="button_middle" class=menu__button href="#">
            <button>
                <img src="../../static/main/img/play_icon.svg" alt="Play_icon">
                <span>Watch Video</span>
            </button>
        </a>
    </section>

    <!--  2 BLOCK - CONTACT  -->
    <section class="contact">
        <div class="contact__text">
            <h2>Contact</h2>
            <p>For new projects, ideas, business or anything you'd like to discuss, contact with me!</p>
        </div>
        <div class="contact__form">
            <form action="" method="POST">
                {% csrf_token %}
                <input type="name" placeholder="Your name..." name="name">
                <input type="email" placeholder="Your email..." name="email">
                <input type="phone" placeholder="Your phone..." name="phone">
                <textarea placeholder="Your message..." name="message"></textarea>
                <!--                {{ form.name }} {{ form.email }} {{ form.phone }} {{ form.message }}-->
                <button type="submit" name="Contact">SEND</button>
            </form>
        </div>
        <div class="contact__data-form">
            <h5>ADDRESS</h5>
            <p>Ukraine, Tlumach, Bogdana-Khemlnytskogo, 13-A</p>
            <h5>EMAIL</h5>
            <p>t.empire228@gmail.com</p>
            <h5>PHONE</h5>
            <p>+380 66 407 40 12</p>
        </div>
    </section>

    <!--  3 BLOCK - DESCRIPTION  -->

    <section class="description">
        <div class="description__left">
            <img src="../../static/main/img/lock_icon.svg" alt="Lock_Icon">
            <h2>Real-time all the time</h2>
            <p>Thus much I thought proper to tell you in relation to yourself, and to the trust I reposed in you.</p>
            <p>Just then her head struck against the roof of the hall: in fact she was now more than nine feet high, and she at once took up the little golden key and hurried off to the garden door.</p>
        </div>
        <div class="description__right">
            <img src="../../static/main/img/clock_icon.svg" alt="Clock_Icon">
            <h2>Adopt without any obstacles</h2>
            <p>This sounded a very good reason, and Alice was quite pleased to know it. 'I never th ed as a scantlin ought of that before!' she said.</p>
            <p>This I have produced as a scantling of Jack’s great eloquence and the force of his reasoning upon ed as a scantlin ed as a scantlin such abstruse matters.</p>
        </div>
    </section>
    <img class="line" src="../../static/main/img/line_height.svg" alt="Line_after_desription">

    <!--  4 BLOCK - IPHONE  -->

    <section class="iphone">
        <img src="../../static/main/img/iPhone_6.png" alt="Iphone-6">
        <div class="iphone__text">
            <h2>Your day <br>is protected</h2>
            <p>There have not been any since we have lived here, said my mother.</p>
            <p>We thought - Mr. Copperfield thought - it was quite a large rookery; but the nests were very old ones, and the birds have deserted them a long while.</p>
        </div>
    </section>

    <!--  5 BLOCK - MAP  -->

    <section class="map">
        <div class="map__text">
            <h2>We are almost <br> everywhere</h2>
            <p>Now the races of these two have been for some ages utterly extinct, and besides to discourse any further of them would not be at all to my purpose.</p>
            <p>Thus much I thought proper to tell you in relation to yourself, and to the trust I reposed in you.</p>
            <div class="map__text_partners image">
                <span>partners</span>
                <a href="#"><img src="../../static/main/img/Dropbox.png" alt="Dropbox"></a>
                <a class="image__evernote" href="#"><img src="../../static/main/img/Evernote.png" alt="Evernote"></a>
            </div>
        </div>
        <img src="../../static/main/img/world_map.png" alt="World_map">
    </section>

    <!--  6 BLOCK - SCREENS  -->

    <section class="screens">
        <h2>Beautiful Interface</h2>
        <hr>
        <p>Landing Screen</p>
        <div class="screens__items">
            <img src="../../static/main/img/screen_1.png" alt="Screen_item_1">
            <img src="../../static/main/img/screen_2.png" alt="Screen_item_2">
            <img class="screens__items_iPhone" src="../../static/main/img/screen_3.png" alt="Screen_item_3">
            <img src="../../static/main/img/screen_4.png" alt="Screen_item_4">
            <img src="../../static/main/img/screen_5.png" alt="Screen_item_5">
        </div>
    </section>

    <!--  7 BLOCK - GET-IPHONE  -->

    <section class="get-iphone">
        <p class="get-iphone__top-p">NewProvidence</p>
        <h2>Get it to your smartphone</h2>
        <form action="#" method="post">
            {% csrf_token %}
            <input type="email" placeholder="Input your email..." name="email">
            <button type="submit" name="EmailInvite">
                <span>Send Invite</span>
                <img src="../../static/main/img/arrow_icon.svg" alt="Arrow_icon">
            </button>
        </form>
        <p>or Download From</p>
        <a class="get-iphone__button" href="#">
            <button>
                <img src="../../static/main/img/apple_icon.svg" alt="Apple_icon">
                <span>Download on the
                    <br>
                    <span class="span_down">App Store</span>
                </span>
            </button>
        </a>
    </section>

    <!--  8 BLOCK - CUSTOMERS  -->

    <section id="customers">
        <div class="container">
            <div class="row">
                <div id="testimonials-slider">
                    <div class="col-md-6 col-md-offset-3 text-center">
                        <div class="carousel slide" data-ride="carousel" id="quote-carousel">
                            <div class="carousel-inner text-center">
                                <ol class="carousel-indicators">
                                    <li data-target="#quote-carousel" data-slide-to="0" class="active">
                                        <img class="img-responsive " src="../../static/main/img/user1.jpg" alt="">
                                    </li>
                                    <li data-target="#quote-carousel" data-slide-to="1">
                                        <img class="img-responsive" src="../../static/main/img/user2.jpg" alt="">
                                        <div class="shadow"></div>
                                    </li>
                                    <li data-target="#quote-carousel" data-slide-to="2">
                                        <img class="img-responsive" src="../../static/main/img/user3.jpg" alt="">
                                    </li>
                                </ol>
                                <div class="item active">
                                    <div class="testimonial">
                                        <h3>New project participant</h3>
                                        <p>“When you do something noble and beautiful and nobody noticed, do not be sad. For the sun every morning is a beautiful spectacle and yet most of the audience still sleeps.”</p>
                                        <div class="star-rating">
                                            <i class="fa fa-star gold-star"></i>
                                            <i class="fa fa-star gold-star"></i>
                                            <i class="fa fa-star gold-star"></i>
                                            <i class="fa fa-star gold-star"></i>
                                            <i class="fa fa-star gold-star"></i>
                                        </div>
                                        <p class="customer-name">Yulia Kharuk</p>
                                    </div>
                                </div>

                                <div class="item">
                                    <div class="testimonial">
                                        <h3>New project participant</h3>
                                        <p>“The biggest risk is not taking any risk. In a world that's changing really quickly, the only strategy that is guaranteed to fail is not taking risks.”</p>
                                        <div class="star-rating">
                                            <i class="fa fa-star gold-star"></i>
                                            <i class="fa fa-star gold-star"></i>
                                            <i class="fa fa-star gold-star"></i>
                                            <i class="fa fa-star gold-star"></i>
                                            <i class="fa fa-star"></i>
                                        </div>
                                        <p class="customer-name">Ostap Semenchuk</p>
                                    </div>
                                </div>

                                <div class="item">
                                    <div class="testimonial">
                                        <h3>New project participant</h3>
                                        <p>“As long as man continues to be the ruthless destroyer of lower living beings he will never know health or peace. For as long as men massacre animals, they will kill each other.”</p>
                                        <div class="star-rating">
                                            <i class="fa fa-star gold-star"></i>
                                            <i class="fa fa-star gold-star"></i>
                                            <i class="fa fa-star gold-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                        </div>
                                        <p class="customer-name">Maria Manulyak</p>
                                    </div>
                                </div>
                            </div>


                            <a data-slide="prev" href="#quote-carousel" class="left carousel-control"><i class="fa fa-chevron-left"></i></a>
                            <a data-slide="next" href="#quote-carousel" class="right carousel-control"><i class="fa fa-chevron-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!--  9 BLOCK - CHOOSE  -->

    <section class="choose">
        <div class="choose__text">
            <h2>Choose your perfect plan</h2>
            <span class="choose__text_are">You are</span>
            <div class="choose__text_buttons">
                <button type="submit" id="individual" onclick="pressIndividualButton()">Individual</button>
                <button type="submit" id="company" onclick="pressCompanyButton()">Company</button>
            </div>
            <p id="container">To see specific information about the collaboration plan click the button above.</p>
            <span class="choose__text_talk">Have a bigger team? <a href="#"> Let‘s talk</a></span>
        </div>
        <div class="choose__first-cart">
            <h2>Starter</h2>
            <a class="choose__first-cart_mini" href="#">Free</a>
            <p>Build your schedule every day</p>
            <ul>
                <li><i class="fas fa-check"></i> Unlimeted events</li>
                <li><i class="fas fa-check"></i> Connect Dropbox & Evernote</li>
            </ul>
            <a class="choose__first-cart_big" href="#">Get started</a>
        </div>
        <div class="choose__second-cart">
            <h2>Pro</h2>
            <a class="choose__second-cart_mini" href="#">$4.99</a>
            <p>Make your life better</p>
            <ul>
                <li><i class="fas fa-check"></i> Unlimeted events</li>
                <li><i class="fas fa-check"></i> Connect Dropbox & Evernote</li>
                <li><i class="fas fa-check"></i> Personal Assistant</li>
            </ul>
            <a class="choose__second-cart_big" href="#">Make me a Pro</a>
        </div>
    </section>

    <!--  10 BLOCK - NEWSLETTER  -->

    <section class="newsletter">
        <h2>Subscribe our newsletters</h2>
        <form action="#" method="post">
            {% csrf_token %}
            <input type="email" placeholder="Your e-mail..." name="email">
            <button type="submit" name="EmailInvite">
                <span>Subscribe</span>
            </button>
        </form>
        <p>We promise to never spam you.</p>
    </section>
    <img class="line" src="../../static/main/img/line_height.svg" alt="Line_after_desription">

    <!-- 11 BLOCK - FOOTER -->

    <footer class="footer">
        <div class="footer__left">
            <span class="footer__left_title"><span>NEW</span>PROVIDENCE</span>
            <p>It was some time before he obtained any answer, and the reply, when made, was unpropitious.</p>
            <a href="#"><img src="../../static/main/img/download.png" alt=""></a>
            <div class="footer__left_icons">
                <a href="#" target="_blank"><i class="fab fa-twitter"></i></a>
                <a href="#" target="_blank"><i class="fab fa-facebook-f"></i></a>
                <a href="#" target="_blank"><i class="fab fa-google-plus-g"></i></a>
                <a href="#" target="_blank"><i class="fab fa-tumblr"></i></a>
                <a href="#" target="_blank"><i class="fab fa-pinterest-p"></i></a>
                <a href="#" target="_blank"><i class="fab fa-linkedin-in"></i></a>
            </div>
        </div>
        <div class="footer__right">
            <div class="footer__right_first">
                <span>Learn More</span>
                <a href="#" target="_blank">How it works?</a>
                <a href="#" target="_blank">Meeting tools</a>
                <a href="#" target="_blank">Live striming</a>
                <a href="#" target="_blank">Contat method</a>
            </div>
            <div class="footer__right_second">
                <span>About Us</span>
                <a href="#" target="_blank">About us </a>
                <a href="#" target="_blank">Features</a>
                <a href="#" target="_blank">Privacy police</a>
                <a href="#" target="_blank">Terms & Conditions</a>
            </div>
            <div class="footer__right_third">
                <span>Support</span>
                <a href="#" target="_blank">F.A.Q.</a>
                <a href="#" target="_blank">Contact us</a>
                <a href="#" target="_blank">Live chat</a>
                <a href="#" target="_blank">Phone call</a>
            </div>
        </div>
    </footer>




    <!--  IMPORTS JavaScript  -->
    <script src="../../static/main/js/jquery-2.1.4.min.js"></script>
    <script src="../../static/main/js/bootstrap.min.js"></script>
    <script src="../../static/main/js/main.js"></script>

    <!--  ADD LOGIN FORM  -->


</body>

</html>