<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Varela+Round&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../../static/main/css/style.css">
    <title>Document</title>
</head>

<body>
    <section class="first">
        <div class="first__left">
            <a href="#">Tour</a>
            <a href="#">Features</a>
            <a href="#">Pricing</a>
        </div>
        <div class="first__center">
            <a href="#"><span class="first__center_logo">NEW</span>PROVIDENCE</a>
        </div>
        <div class="first__right">
            <a href="#">Help</a>
            <a href="#">Contacts</a>
            <a id="button_top" href="#" style="margin: 0">
                <button>
                    <img src="../../static/main/img/apple_icon_button.png" alt="Apple_image">
                    <span>Get App</span>
                </button>
            </a>
        </div>
        <h1>What happens tomorrow?</h1>
        <p>The sight of the tumblers restored Bob Sawyer to a degree of equanimity which he had not possessed since his interview with his landlady. His face brightened up, and he began to feel quite convivial.</p>
        <a id="button_middle" class=first__button href="#">
            <button>
                <img src="../../static/main/img/play_icon.png" alt="Play_Icon">
                <span>Watch Video</span>
            </button>
        </a>
    </section>
</body>

</html>