* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.first {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #f4f4f5;
  background-image: url("../img/background_header.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  font-family: 'Lato', sans-serif;
  padding: 4% 10% 40% 10%;
}

.first__left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.first__left a {
  font-size: 15px;
  font-weight: bold;
  color: #26272d;
  text-decoration: none;
  margin-left: 35px;
}

.first__left a:hover {
  opacity: 0.4;
  color: #1b1c1e;
  -webkit-transition: .5s;
  transition: .5s;
}

.first__center a {
  display: block;
  font-size: 15px;
  font-weight: 400;
  color: #26272d;
  text-decoration: none;
}

.first__center a:hover {
  -webkit-transition: 1s;
  transition: 1s;
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
}

.first__center_logo {
  font-weight: bold;
}

.first__center {
  margin-left: 4%;
}

.first__right {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: -1%;
}

.first__right a {
  font-size: 15px;
  font-weight: bold;
  color: #26272d;
  text-decoration: none;
  margin-right: 35px;
}

.first__right a:hover {
  opacity: 0.4;
  color: #1b1c1e;
  -webkit-transition: .5s;
  transition: .5s;
}

.first__right #button_top:hover {
  opacity: 1;
}

.first__right button {
  width: 132px;
  height: 42px;
  background-color: #267df4;
  border-radius: 21px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: none;
}

.first__right button:hover {
  background-color: #000000;
  color: #ffffff;
  -webkit-transition: .6s;
  transition: .6s;
  -webkit-transform: scale(1.15);
          transform: scale(1.15);
}

.first__right button span {
  font-size: 16px;
  font-weight: 400;
  color: #ffffff;
  margin-right: 0;
}

.first h1 {
  font-family: 'Varela Round', sans-serif;
  font-size: 62px;
  font-weight: 400;
  color: #26272d;
  text-align: center;
  margin: 0 auto;
  margin-top: 10%;
}

.first p {
  font-family: 'Lato', sans-serif;
  font-size: 20px;
  line-height: 1.5;
  font-weight: 400;
  color: #8c8f94;
  text-align: center;
  margin: 7% 18%;
  margin-top: 3%;
}

.first__button {
  text-decoration: none;
  margin: 0 auto;
}

.first__button button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 165px;
  height: 50px;
  border: 1px solid #26272d;
  border-radius: 25px;
}

.first__button button:hover {
  -webkit-transition: .6s;
  transition: .6s;
  -webkit-transform: scale(1.15);
          transform: scale(1.15);
}

.first__button button span {
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  font-weight: bold;
  color: #26272d;
}
/*# sourceMappingURL=style.css.map */