{% extends 'base.html' %}

{% block title %}Log In{% endblock %}

{% block content %}
<h2>Log In</h2>
<form method="post">
  {% csrf_token %}
  {% for message in messages %}
    <div class="alert alert-success">
      <a href="#" class="close" data-dismiss="alert"></a>
      {{ message }}
    </div>
  {% endfor %}
  <input type="username" name="username" placeholder="Username"><br>
  <input type="password" name="password" placeholder="Password"><br>
  <button type="submit">Log In</button>
</form>
{% endblock %}